
*{
    margin:0px;
    padding:0px;
}
.main{
    height:745px ;
}
.animate{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    height:500px;
    width:400px;
    padding:40px 30px;
    color:#ec830a;
    border-radius:10px;
    background-color: white;

}
.animate h2{
    color:black;
    margin-bottom:40px;
}
.animate label{
    padding-bottom: 20px;
}
.animate input{
    border:2px solid #ec830a;
    border-radius:30px;
    padding:5px 10px;
    margin-left:10px;
    background-color:transparent;
}
.animate button{
    height: 40px;
    min-width:150px;
    border-radius: 40px;
    border:none;
    border:2px solid white;
    color:white;
    background-color: #ec830a;
    margin:30px 0px 10px;
}
